{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Fbstore plugin for Craft CMS
 *
 * Superfluous Widget Body
 *
 * @author    Firebelly
 * @copyright Copyright (c) 2018 Firebelly
 * @link      https://firebellydesign.com/
 * @package   Fbstore
 * @since     1.0.0
 */
#}

{% set devLuv4evr = view.getAssetManager().getPublishedUrl('@firebelly/fbstore/assetbundles/superfluouswidget/dist', true) ~ '/img/hearts.gif' %}

<img class="devLuv" src="{{ devLuv4evr }}">

<p>{{ message }}</p>
