<footer id="footer" class="site-footer" role="contentinfo">
  <div class="container">

    <div class="-top grid">
      <div class="col-md-1-2">
        <p class="label-large">Something in mind?</p>
      </div>
      <div class="col-md-1-2">
        <a href="#" class="button -large hollow -white">Let's get to work.</a>
      </div>
    </div>

    <div class="-bottom grid">
      <div class="col-md-1-2">
        <p class="label-small">Let's make it social</p>
        <p class="label-large">Follow us.</p>
      </div>

      <div class="col-md-1-2">
        <div class="contact-section">
          <div>
            <h6 class="label-small">Chicago</h6>
            <div class="address">
              <a href="https://goo.gl/maps/im4YsDbLnFH2">
                <span class="street-address">1402 N Western Ave</span><br>
                <span class="city">Chicago</span>
                <span class="region">Illinois</span>
                <span class="postal-code">60622</span>
              </a>
            </div>

            <p class="tel">
              <span class="telephone">+1 773 489 3200</span>
            </p>

            <p class="email">
              <a href="mailto:info@firebellydesign.com">info@firebellydesign.com</a>
            </p>
          </div>

          <div>
            <h6 class="label-small">Follow</h6>
            <ul class="social-links">
              <li><a href="https://www.instagram.com/firebellydesign/">Instagram</a></li>
              <li><a href="https://www.facebook.com/firebellydesign">facebook</a></li>
              <li><a href="https://www.behance.net/firebelly">Behance</a></li>
            </ul>
          </div>
        </div>

        <div id="signup" class="newsletter-section">
          {% include "/partials/_newsletter_form" %}
        </div>
      </div>
    </div>

  </div>
</footer>

<div class="outer-frame">
  <div class="container grid align-right">
    <div class="col-md-1-2">
      <p style="margin-top:.5em"><a href="/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</div>

<script src="{{ rev('/scripts/manifest.js') }}"></script>
<script src="{{ rev('/scripts/vendor.js') }}"></script>
<script src="{{ rev('/scripts/main.js') }}"></script>