  {# Pagination for Channel sections #}
  {% set params = craft.entries.section(paginationSection).order('postDate desc, id asc') %}
  {% set prevEntry = entry.getPrev(params) %}
  {% if not prevEntry %}
    {% set prevEntry = params.inReverse().one() %}
  {% endif %}
  {% set nextEntry = entry.getNext(params) %}
  {% if not nextEntry %}
    {% set nextEntry = params.one() %}
  {% endif %}
  <nav class="footer-pagination">
    <ul>
      <li class="prev">
        <a rel="prev" href="{{ prevEntry.getUrl() }}"><span class="arrow">&larr;</span> Previous {{ postName }}</a>
      </li>
      <li class="next">
        <a rel="next" href="{{ nextEntry.getUrl() }}">Next {{ postName }} <span class="arrow">&rarr;</span></a>
      </li>
    </ul>
  </nav>
