// Common styles

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

%fade-links {
  a {
    color: $black-fade;
    transition: color .2s ease-out;
    &:hover, &:focus {
      color: $black;
    }
  }
}

%working {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: 0 0 0 -15px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.1);
  border-top-color: rgba(255,255,255,1);
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  100% {transform: rotate(360deg);}
}
