{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
 /**
  * Fbstore plugin for Craft CMS 3.x
  *
  * @author    Firebelly Design
  * @copyright Copyright (c) 2018 Firebelly Design
  * @link      https://www.firebellydesign.com/
  * @package   Fbstore
  * @since     1.0.0
  */
 #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("firebelly\\fbstore\\assetbundles\\fbstore\\FbstoreAsset") %}

{# The title of this CP section #}
{% set title = "Firebelly Store Payment Logs" %}

{# Content that should appear in the page header #}
{% block actionButton %}
    <div class="buttons">
        <a href="/admin/settings/plugins/fbstore" class="btn submit">{{ "Settings"|t('fbstore') }}</a>
    </div>
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <h2>Order management handled via <a target="_blank" rel="noopener" href="https://dashboard.stripe.com/orders/">Stripe &nearr;</a></h2>
    {% set logs = craft.payments.getPayments() %}
    <table class="data fullwidth fbstore-logs">
        <thead>
        <tr>
          <th scope="col" class="log-date">Date</th>
          <th scope="col" class="log-summary">Summary</th>
          <th scope="col" class="log-log">Log</th>
        </tr>
        </thead>
        <tbody>
          {% for log in logs %}
            <tr>
              <td>{{ log.dateUpdated }}</td>
              <td class="summary"><strong>{{ log.summary|raw }}</strong></td>
              <td class="log"><pre>{{ log.log|raw }}</pre></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}
