{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single' %}
{% set mainImage = entry.mainImage.one() %}

{% block content %}
  {% cache unless currentUser %}
  <article class="content-block single-project" data-id="{{ entry.id }}">
    <section class="content interior">
      <header class="{{ entry.workHeader.fullPageHeaderImage ? ' full-page-header' : ''}}">
        <div class="header-wrap">

          {% if entry.vimeoHeaderVideo %}
            <div class="project-banner video">
              <iframe src="https://player.vimeo.com/video/{{ entry.vimeoHeaderVideo|replace('/[^0-9+]/', '') }}?background=1;autoplay=1&autopause=0&loop=1&title=0&byline=0&portrait=0" width="1245" height="700" frameborder="0"></iframe>
            </div>
          {% elseif mainImage %}
            {% set transformedImage = craft.imager.transformImage(mainImage, { width: 1800 }) %}
            <div class="project-banner" style="background-image:url({{ craft.app.config.general.cdnUrl }}{{ transformedImage.getUrl() }});"></div>
          {% endif %}

          <div class="section-title">
            <h1 class="project-client">{{ entry.title }}</h1>
            <h4 class="project-name">{{ entry.subtitle }}</h4>
            {% if entry is defined and entry.isEditable() %}
              <div class="edit-link"><a href="{{ entry.cpEditUrl ~ '?redirect=' ~ craft.app.request.getUrl()|url_encode }}">Edit Entry</a></div>
            {% endif %}
          </div>

        </div>
      </header>

      <div class="intro clearfix {{ entry.workHeader.twoColumnLayout ? ' two-column' : ''}}">
        <div class="intro-wrap">
          <div class="summary user-content">{{ entry.body }}</div>
          <div class="project-meta grid">

            <div class="industry one-half">
              <div class="-inner">
                <h3>Industry:</h3>
                {% if entry.industry | length %}
                  <ul><li><a href="/work#{{ entry.industry.one().slug }}">{{ entry.industry.one().title }}</a></li></ul>
                {% endif %}
              </div>
            </div>

            <div class="services one-half">
              <div class="inner">
                <h3>Services:</h3>
                {% if entry.services | length %}
                  <ul><li>{% for service in entry.services.all() %}
                  <a href="/work#{{ service.slug }}">{{ service.title }}</a>
                  {{ not loop.last ? "," }}
                  {% endfor %}</li></ul>
                {% endif %}
              </div>
            </div>

            {% if entry.workHeader.extraDetails %}
              <div class="extra-info">
                <div class="inner">
                  {{ entry.workHeader.extraDetails }}
                </div>
              </div>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="project-images clearfix">
        {% include 'work/_project-blocks' %}

      </div>
    </section>
  </article>
  {% include "partials/_pagination_structure" with {'paginationSection': 'work', 'postName': 'Project'} %}
  {% endcache %}
{% endblock %}
