{% set blockColor = 'white' %}
{% set hasBlockColorChange = false %}
{# Check if any blockColorChanges #}
{% for block in entry.projectBlocks.all() %}
  {% if block.type == 'blockColorChange' %}
    {% set hasBlockColorChange = true %}
    {% if loop.index == 1 %}
      {# Check if first block is a color change and set initial block-color to that #}
      {% set blockColor = entry.projectBlocks[0].color %}
    {% else %}
{% endif %}

  {% endif %}
{% endfor %}

{# Only init block-color if project has any color changes #}
{% if hasBlockColorChange %}<div class="block-color color-{{ blockColor }}"><div class="block-wrap">{% endif %}

{% for block in entry.projectBlocks.all() %}
  {% switch block.type %}

    {% case "blockColorChange" %}
      {% if blockColor != block.color %}
        {% set blockColor = block.color %}
        </div></div>
        <div data-id="55" class="block-color color-{{ block.color }}"><div class="block-wrap">
      {% endif %}

    {% case "blockHeader" %}
      <div class="project-summary user-content">
        {% if block.numberHeader %}
          <h3 class="h1 number-header">{{ block.numberHeader }}</h3>
        {% endif %}
        {% if block.blockTitle %}
          <h2>{{ block.blockTitle }}</h2>
        {% endif %}
        {{ block.blockDescription }}
      </div>

    {% case "blockImages" %}
      </div><!-- /.block-wrap -->
      <div class="fullbleed-images">
        {% if block.carousel %}
          <div class="flickity">
            {% for image in block.images.all() %}
              {% set treatedImage = craft.imager.transformImage(image, { mode: 'fit', width: 1800, height: 900 }) %}
              {% set orientation = image.getWidth() > image.getHeight() ? 'landscape' : 'portrait' %}
              <div class="slide {{ orientation }}">
                {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
                  <img src="{{ rev('images/gray.gif') }}" data-flickity-lazyload="{{ craft.app.config.general.cdnUrl }}{{ treatedImage.getUrl() }}" alt="{{ image.title }}"></div>
                {%- if block.imageLinkUrl %}</a>{% endif -%}
            {% endfor %}
          </div>
        {% else %}
          {% for image in block.images.all() %}
            {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
              <p><img class="lazy" src="{{ rev('images/gray.gif') }}" data-original="{{ craft.app.config.general.cdnUrl }}{{ image.getUrl() }}" alt="{{ image.title }}"></p>
            {%- if block.imageLinkUrl %}</a>{% endif -%}
          {% endfor %}
        {% endif %}
      </div>
      <div class="block-wrap">
    {% case "blockHtml" %}
      <div class="block-html">{{ block.html }}</div>

    {% case "blockText" %}
      <div class="block-text user-content {{ block.size }}">{{ block.text }}</div>

    {% case "blockPaddedImage" %}
      {% for image in block.image.all() %}
        {% set width = (block.size == 'halfWidth' ? 900 : 1800) %}
        {% if block.treated %}
          {% set treatedImage = craft.imager.transformImage(image, { width: width, effects: { modulate: [100, 0, 100], clut: 'gradient:#000000-#ffffff' } }) %}
        {% else %}
          {% set treatedImage = craft.imager.transformImage(image, { width: width }) %}
        {% endif %}

        <div data-id="54" class="block-image {{ block.size }}">
          {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
            <img class="lazy" src="{{ rev('images/gray.gif') }}" data-original="{{ craft.app.config.general.cdnUrl }}{{ treatedImage.getUrl() }}" alt="{{ image.title }}">
          {%- if block.imageLinkUrl %}</a>{% endif -%}
        </div>
      {% endfor %}

    {% case "blockQuote" %}
        <div class="block-quote" style="color: {{ block.textColor }}; background-color: {{ block.backgroundColor }};">
          <blockquote>{{ block.quote }}</blockquote>
        </div>

    {% default %}
      Hello?

  {% endswitch %}
{% endfor %}

{% if hasBlockColorChange %}</div></div><!-- /.block-wrap/.block-color -->{% endif %}
